<div class="mdl-card mdl-shadow--2dp through mdl-shadow--2dp bar-chart-card">
    <div class="mdl-card__title">
        <h6 class="mdl-card__title-text">Bar Chart</h6>
    </div>
    <canvas id="bar-chart"></canvas>
</div>
