<div class="mdl-card mdl-shadow--2dp through mdl-shadow--2dp location-card">
    <div class="mdl-card__title">
        <h6 class="mdl-card__title-text">Left Card</h6>
    </div>
    <div class="mdl-grid mdl-grid-nesting user-card-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <div class="left-card-nested-grid-parent">
                <div class="left-card-nested-grid">
                    <i class="material-icons md-48 photo-icon">photo_camera</i>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <div class="left-card-nested-grid-parent">
                <div class="left-card-nested-grid">
                    <img id="current-device-image" src="">
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <canvas id="doughnut-chart" width="100%" height="100%"></canvas>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <div class="left-card-nested-grid-parent">
                <div class="left-card-nested-grid">
                    <img id="nearest-point-image" src="">
                </div>
            </div>
        </div>
    </div>
</div>
