<div class="mdl-card mdl-shadow--2dp through mdl-shadow--2dp map-card">
    <div class="mdl-card__title">
        <h6 class="mdl-card__title-text">Location</h6>
    </div>
    <div id="mapid"></div>
</div>
